@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lato&family=Roboto&display=swap');

$font-logo: "Josefin sans" , sans-serif;
$font-titles: "Lato" , sans-serif;
$font-general: "Roboto" , sans-serif;

$color-primary: #2e2d7e;
$color-logo: #2e2d7e;
$color-title: #06acee;
$color-black: #333333;
$color-white: #fafafa; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-general;
    color: $color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}

.login {
    height:10vh;
    background-color: $color-white;
    padding: 0 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: solid $color-logo 2px;
}