@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lato&family=Roboto&family=Roboto+Condensed:ital,wght@1,700&display=swap');

@media screen and (min-width: 768px) {
    body {
        width: 300px;
    }
}

@media screen and (min-width: 991px) {
    body {
        width: 500px;
    }
}

$font-logo: "Josefin sans" , sans-serif;
$font-titles: "Lato" , sans-serif;
$font-general: "Roboto" , sans-serif;
$font-generalTitle: "Roboto Condensed" , sans-serif;

$color-primary: #2e2d7e;
$color-logo: #2e2d7e;
$color-title: #06acee;
$color-black: #333333;
$color-white: #fafafa; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-general;
    color: $color-primary;
}

/* Layout */
/* Header */

div {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }    



header {
    width: 100%;

        #Logo {
            max-height: 75px;
            width: 200px;
    }

         h2 {
            margin: auto;
            text-align: center;
            color: $color-title;
            font-size: 200%;
            width: 65%
     }

     h3 {
        font-size: 225%;
        text-align: center;
     }

    div {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    }    
}

/* Main */

main {
    width: 100%;

    h4 {
        font-size: 200%;
        text-align: center;
        color: $color-title;
      }

    h5 {
        font-size: 150%;
        text-align: center;
    }

    h6{
        font-size: 225%;
        text-align: center;
    }

    h7, h8, h9, h10 {
        height: 100px;
        width: 200px;
        padding: 2px;
        font-size: 125%;
        text-align: left;
    }

    div {
        margin: 100px;
        display: flex;
        flex-direction: row;
        } 
}

/* Footer */

footer {

    a{
        font-size: 225%;
     }

    div{
        margin: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/* Components */

a:link,
a:visited {
    text-decoration: none;
}

.login {
    display:block;
    width: 125px;
    color: $color-primary;
    font-family: $font-generalTitle;
    font-size: 150%;
    background-color: $color-white;
    padding: 20px 20px;
    text-align: center;
    border: 2px solid $color-primary;
    border-radius: 8px;
}

.login:hover {
    color: $color-white;
    background-color: $color-primary;
}

.button {
    display:flex;
    align-items: center;
    color: $color-white;
    font-family: $font-generalTitle;
    font-size: 175%;
    background-color: $color-primary;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-primary;
    border-radius: 8px;
}

.button:hover {
    color: $color-primary;
    background-color: $color-white;
}