@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lato&family=Roboto&family=Roboto+Condensed:ital,wght@1,700&display=swap");
@media screen and (min-width: 768px) {
  body {
    width: 300px;
  }
}
@media screen and (min-width: 991px) {
  body {
    width: 500px;
  }
}
* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #2e2d7e;
}

/* Layout */
/* Header */
header h1 {
  font-size: 350%;
  text-align: center;
  width: 50%;
  padding: 0px 20px;
}
header h2 {
  margin: auto;
  text-align: center;
  color: #06acee;
  font-size: 200%;
  width: 65%;
}
header h3 {
  font-size: 225%;
  text-align: center;
}
header div {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Main */
main h4 {
  font-size: 200%;
  text-align: center;
  color: #06acee;
}
main h5 {
  font-size: 150%;
  text-align: center;
}
main h6 {
  font-size: 225%;
  text-align: center;
}
main h7, main h8, main h9, main h10 {
  font-size: 125%;
  text-align: center;
}
main div {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Footer */
footer a {
  font-size: 225%;
  text-align: center;
}
footer div {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

/* Components */
a:link,
a:visited {
  text-decoration: none;
}

.login {
  display: block;
  width: 125px;
  color: #2e2d7e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 150%;
  background-color: #fafafa;
  padding: 20px 20px;
  text-align: center;
  border: 2px solid #2e2d7e;
  border-radius: 8px;
}

.button {
  display: block;
  width: 300px;
  color: #fafafa;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 150%;
  background-color: #2e2d7e;
  padding: 20px 20px;
  text-align: center;
  border: 2px solid #2e2d7e;
  border-radius: 8px;
}