@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lato&family=Roboto&family=Roboto+Condensed:ital,wght@1,700&display=swap');

@media screen and (min-width: 768px) {
    body {
        width: 300px;
    }
}

@media screen and (min-width: 991px) {
    body {
        width: 500px;
    }
}

$font-logo: "Josefin sans" , sans-serif;
$font-titles: "Lato" , sans-serif;
$font-general: "Roboto" , sans-serif;
$font-generalTitle: "Roboto Condensed" , sans-serif;

$color-primary: #2e2d7e;
$color-logo: #2e2d7e;
$color-title: #06acee;
$color-black: #333333;
$color-white: #fafafa; 

* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-general;
    color: $color-primary;
}

header {
    h1 {
        font-size: 350%;
        text-align: center;
        width: 50%;
        padding: 0px 20px;
      }

     h2 {
        margin: auto;
        text-align: center;
        color: $color-title;
        font-size: 200%;
        width: 65%
     }

     h3 {
        font-size: 225%;
        text-align: center;
     }

    div {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }    
}


main {
    h4 {
        font-size: 200%;
        text-align: center;
        color: $color-title;
      }

    div {
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        } 
}


footer {
    div{
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
}


a:link,
a:visited {
    text-decoration: none;
}

.login {
    display:block;
    width: 125px;
    color: $color-primary;
    font-family: $font-generalTitle;
    font-size: 150%;
    background-color: $color-white;
    padding: 20px 20px;
    text-align: center;
    border: 2px solid $color-primary;
    border-radius: 8px;

}